<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/bundle.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">

    <script>
        $(document).ready(function () {

        });
        function getSuccess(data, status) {
            if (data) {
                var string = JSON.parse(data);
                for (var i = 0; i < string.length; i++) {
                    $('#result').append("<div class=\"alert alert-success\" id=\"result\">" + string[i] + "</div>");
                }
            }
            console.log("request /search success");
            console.log(data);
        }
    </script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h2 style="font-weight: bold">Secure TBM Transfer protocol</h2>
        <p style="font-size: 18px">STTP is a protocol for data transfers, which is an extension of HTTP. STTP supports
            data encryption and compression to increase security level.</p>
    </div>
    <div class="col-lg-12 col-md-12, col-sm-12 col-xs-12">
        <div class="col-lg-9 col-md-9, col-sm-9 col-xs-9">
            <input class="form-control" id='link_id' title="search">
        </div>
        <div class="col-lg-3 col-md-3, col-sm-3 col-xs-3">
            <input class="btn btn-success" style="width: 100%" id='link' value='Search' title="search-button">
        </div>
    </div>
    <div class="col-lg-12 col-md-12, col-sm-12 col-xs-12 output">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="result"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <h5>Made by TBM team: Kevin Khanda, Alik Khilazhev and Sergey Strokov</h5>
</div>
</body>
</html>