<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/bundle.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">

    <script>
        $(document).ready(function () {

        });
        function getSuccess(data, status) {
            if (data) {
                $("#result").empty();
                console.log(data);
                var items = JSON.parse(data);
                if (items.length === 0)
                    printItem("Nothing found with query:" + $("#query").val())
                for (var i = 0; i < items.length; i++) {
                    printItem(items[i]);
                }
            }
            console.log("request /search success");
            console.log(data);
        }

        function printItem(item) {
            $('#result').append("<div class=\"alert alert-success\" id=\"result\">" + item + "</div>");
        }
    </script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h2 style="font-weight: bold">Secure TBM Transfer protocol</h2>
        <p style="font-size: 18px">STTP is a protocol for data transfers, which is an extension of HTTP. STTP supports
            data encryption and compression to increase security level.</p>
    </div>
    <div class="col-lg-12 col-md-12, col-sm-12 col-xs-12">
        <div class="col-lg-7 col-md-7, col-sm-7 col-xs-7">
            <input class="form-control" id='query' title="search">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="col-lg-offset-2 ">
                <label>
                    <input type="checkbox" id="sttp_used"> 
                    Use STTP
                </label>
            </div>
        </div>
        <div class="col-lg-3 col-md-3, col-sm-3 col-xs-3">
            <input class="btn btn-success" style="width: 100%" id='link' type="submit" value='Search' title="search-button">
        </div>
    </div>
    <div class="col-lg-12 col-md-12, col-sm-12 col-xs-12 output">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="result"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <h5>Made by TBM team: Kevin Khanda, Alik Khilazhev and Sergey Strokov</h5>
</div>
</body>
</html>